.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .black-overlay {
    position: absolute;
    bottom: 0 !important;
    left: 0 !important;
    background-color: #2929291c !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 1;
  }

  .down-arrow {
    position: absolute;
    bottom: 0px !important;
    left: 50%;
    transform: translateX(-50%);
    height: 250px !important;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10 !important;

    svg {
      * {
        fill: #fff !important;
        stroke: #fff !important;
      }
    }
  }

  h1 {
    position: absolute;
    bottom: 3rem;
    left: 50% !important;
    transform: translateX(-50%) !important;
    height: 250px !important;
    padding: 0 !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem !important;
    z-index: 10 !important;
    font-family: "Tiempostext", sans-serif !important;
  }

  .main-header_bg-video-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .curtain {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
