.subHeading {
  .anim-text-wraper {
    height: 300px !important;
  }
}

.subHeading {
  background: linear-gradient(135deg, #1e3c72, #2a5298); // Example gradient
  position: relative;
  z-index: 1;
}

.anim-text-wrapper {
  position: relative;
  z-index: 2; // Ensures text is above background
}
